.navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 40px;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid lightgray;

  .logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    width: 3.75rem;

    .imglogo {
      width: 100%;
      height: 100%;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;

    li {
      cursor: pointer;
      text-decoration: none;
      list-style: none;
      font-size: 0.875rem;
      color: #1b262c;
      font-weight: 700;
    }

    .userprofile {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
    .btn-signin-wrapper {
      width: 120px;
      padding: 0 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-signin {
        width: 100%;
        background-color: orange;
        height: 35px;
        color: #fff;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;

        &.hover5 {
          background-color: orangered;
        }
      }
    }
    .drop-down {
      position: absolute;
      top: 50px;
      right: -10px;
      background-color: #fff;
      border: 1px solid lightgrey;
      border-radius: 5px;
      z-index: 101;

      .drop-down-container {
        width: fit-content;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        .link {
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: 14px;
          color: #1b262c;

          .icon {
            margin-right: 10px;
          }
        }
      }
    }
    .drop-down-overlay {
      position: fixed;
      width: 100%;
      height: calc(100vh - 70px);
      top: 0;
      left: 0;
      z-index: 100;
    }
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 786px) {
  .navigation {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    // border-bottom: 1px solid lightgray;

    .logo-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.75rem;
      width: 3.75rem;

      .imglogo {
        width: 100%;
        height: 100%;
      }
    }

    ul {
      display: none;
      align-items: center;
      gap: 30px;

      li {
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        font-size: 0.875rem;
        color: #1b262c;
      }

      .user-icon {
        color: #29343a;
        font-size: 1.875rem;
        cursor: pointer;
      }
    }

    .menu-icon {
      display: flex;
      color: #1b262c;
      font-size: 1.875rem;
    }
  }
}
